# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
STATION_PAIR_DATA_filtered.json
STATIONS_PAIR_DATA_filtered_mini.json
STATIONS_BY_TIME.json
app.json
.gitignore
.DS_Store

# Docker
Dockerfile
docker-compose.yml
