
            body {
                padding: 0;
                margin: 0;
            }

            html, body, #map {
                height: 100%;
            }


            .leaflet-div-icon {
                position: absolute;
                border-radius: 50%;
                width:30px;
                top:-15px;
                left:-15px;
                height:30px;
                background-color:transparent;
                text-align: center;
                line-height:30px
                
            }
            
            .leaflet-marker-icon .number{
                position: absolute;
                font-size: 12px;
                width: 25px;
                text-align: center;
                font-family: 'Titillium Web', sans-serif;
            }

             .square {
                position:relative;
                /* border-radius: 50%; */
                /* background-color:#E9C46A; */
                width:150%;
                height:150%;
                left:-25%
            }

            #infodiv{
                position:absolute;
                border-radius:50px / 50px;
                background-color: white;
                width:400px;
                top:2%;
                right:3%;
                bottom:2%;
                z-index:1000;
                -webkit-box-shadow:0 1px 4px rgba(128, 128, 128, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
                -moz-box-shadow:0 1px 4px rgba(128, 128, 128, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
                     box-shadow:0 1px 4px rgba(128, 128, 128, 0.3), 0 0 40px rgba(128, 128,128, 0.1) inset;
            }

            #infodiv:before, #infodiv:after
            {
                content:"";
                position:absolute;
                z-index:-1;
                -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
                -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
                box-shadow:0 0 20px rgba(0,0,0,0.8);
                top:0;
                bottom:0;
                left:0;
                right:0;
                -moz-border-radius:50px / 50px;
                border-radius:50px / 50px;
            }
            #infodiv:after
            {
                right:10px;
                left:auto;
                -webkit-transform:skew(8deg) rotate(3deg);
                   -moz-transform:skew(8deg) rotate(3deg);
                    -ms-transform:skew(8deg) rotate(3deg);
                     -o-transform:skew(8deg) rotate(3deg);
                        transform:skew(8deg) rotate(3deg);
            }


            body {
                font: 12px Helvetica;
              }
              
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
          
            .x.axis path {
                display: none;
            }
            
            .line {
                fill: none;
                stroke: steelblue;
                stroke-width: 2px;
            }